<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>When2Buy</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  	<div class="jumbotron" id="helpTile">
  		<!-- login, edit, and ? buttons -->
      <a href = '#' onclick="history.back();">
        <button type="button" class="btn btn-secondary" style="float: left;">
        	Back
        </button>
      </a>
      <h1 style="text-align: center;clear:left">Help</h1>
      <h2> FAQ </h2> 
        <li> I am having trouble signing in. What should I do?  </li>
        <p> Did you sign up and have an account with us? "forgot password" function still need to be implement. </p>
        <li> How do I get reminded when something is due? </li>
        <p> Reminder system still need to be implement. </p>
        <li> Can I spilt the bill with my roommates through the app?</li>
        <p> No. However, you can add a note to the list and share the list with your roomates. </p>
        <li> How do I view previous bought items from the list?</li>
        <p> Go to "Suggested Items" and it will be listed there with time stamp. </p>
        <li> How do I know who bought what?</li>
        <p> There will be names next to each items. Hence, you can use "Notes" for any further comments. </p>
        
     </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>