<!DOCTYPE html>
<html>
  <head>

    <title>List</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" >
    <link href="/css/list.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
		<!-- Header Part -->
    <div class="jumbotron" id="listTile">
      <a href = '#' onclick="history.back();">
        <button type="button" class="btn btn-secondary" style="float: left;">
          Back
        </button>
      </a>

      <!-- List Name shown in the middle-->
      <span id="listName">{{listName}}</span>

      <a href='/help'>
        <button type="button" class="btn btn-secondary" style="float: right;">
        ?
        </button>
      </a>
    </div>

    <!-- function Part -->
    <ul class="nav">
      <button type="button" class="btn btn-danger btn-lg" style="float: left;" 
      onclick="toggleNewItemForm()">
        New Item
      </button>

      <button type="button" class="btn btn-danger btn-lg" onclick="toggleNewLinkForm()">
        Share
      </button>
      
      <button type="button" class="btn btn-danger btn-lg" style="float: right;" 
      onclick="toggleSettings()">
        Settings
      </button>
      
    </ul>

    <!-- entry part -->
    <div id="newItemDisplay" style="display: none">
      <form id="newItemForm" role="form" method="get" action="/add">
        <label for="itemName">Item Name:</label>
        <input type="text" class="form-control" 
        id="itemName" placeholder="Name" name="itemName">
        <br>
        <label for="quantity">Quantity of Item:</label>
        <input type="text" class="form-control" 
        id="quantity" value="1" name="quantity">
        <br>
        <input type="submit" value="Add Item" class="btn btn-danger">
      </form> 
    </div>

    <!-- share button link -->
    <div id="newLinkDisplay" style="display: none">
        <form name="newLinkForm" role="form" id="newLinkForm" action="">
        Link of this form:<br>
        <input type="text" class="form-control" 
        id="link" placeholder="Name" name="link">
        <br>
        <br>
        <input type="submit" value="Copy to ClipBoard" class="btn btn-danger">
      </form> 
    </div>

    
    <div class="jumbotron">
      {{#each db}}
      <div class="item">
        <a href="#">
        <h4 style="float: left; clear:left;">
          {{itemName}}
        </h4>
        </a>
        <button id="remove" type="button" class="btn btn-danger" 
        style="float: right;display: none" onclick="hideItem()">
        Remove
        </button>
        <h4 style="float: right;padding-right: 1.8em">
          {{quantity}}
        </h4>
        <br>
      </div>
      {{/each}}
    </div>
    

    <!-- Footer part -->
    <footer style="
            position:absolute;
            bottom:0%;
            width:100%;">
      <button type="button" class="btn btn-secondary" onclick="toggleSuggestedItems()">
        Suggested Items
      </button>


      <hr id="suggestedContainer" style="display: none">
      <div class="suggestedItems" style="display: none">
         
         <h4 style="float: left"> Milk </h4>

         <button id="remove" type="button" class="btn btn-danger" 
        style="float: right;display: none" onclick="hideRealContent()">
        Remove
        </button>
        
      </div>
    </hr>

    </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript">
      
      function hideItem() {
        $('.item').hide();
      }

      function toggleNewItemForm() {
        if($("#newItemDisplay").is(":visible")){$("#newItemDisplay").fadeOut();}
        else{$('#newItemDisplay').fadeIn();}
        
      }

      function toggleNewLinkForm() {
        var currentURL = window.location.hostname+"/list/{{listName}}";

        if($('#newLinkDisplay').is(":visible"))
        {
          $('#newLinkDisplay').fadeOut();
        }
        else
        {
          $('#newLinkDisplay').fadeIn();
        }
        document.newLinkForm.link.value = currentURL;
        
      }
      
      function toggleSettings(){
        if($("#remove").is(":visible")){$("#remove").fadeOut();}
        else{$("#remove").fadeIn();}
      }

      function toggleSuggestedItems(){
        alert("The milk has gone bad! please buy a new one before due day!");
        if($("#suggestedContainer").is(":visible"))
          {
            $("#suggestedContainer").fadeOut();
            $(".suggestedItems").fadeOut();
          }
        else
          {
            $("#suggestedContainer").fadeIn();
            $(".suggestedItems").fadeIn();
          }

      }

      $( document ).ready(function() {

        // $("#newItemForm").submit(function(e) {
        //   e.preventDefault();
        //   alert("The item has been added");
        //   //app.get('/add', add.addItem);
        // });

        $("#newLinkForm").submit(function(e) {
          e.preventDefault();
            /* Get the text field */
          var copyText = document.getElementById("link");

          /* Select the text field */
          copyText.select();

          /* Copy the text inside the text field */
          document.execCommand("Copy");

          /* Alert the copied text */
          alert("Copied the text: " + copyText.value);
        });
      });


    </script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
