<!DOCTYPE html>
<html>
  <head>

    <title>List</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet" >
    <link href="/css/list.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
		<!-- Header Part -->
    <div class="jumbotron" id="listTile">
      <a href = '#' onclick="history.back();">
        <button type="button" class="btn btn-secondary" style="float: left;">
          Back
        </button>
      </a>

      <!-- List Name shown in the middle-->
      <span id="listName">{{listName}}</span>
      <button type="button" class="btn btn-secondary" style="float: right;" 
      onclick="toggleEdit()">
        Edit
      </button>
      <a href='/help'>
        <button type="button" class="btn btn-secondary" style="float: right;">
        ?
        </button>
      </a>
    </div>

    <!-- function Part -->
    <ul class="nav">
      <button type="button" class="btn btn-danger btn-lg" style="float: left;" 
      onclick="toggleNewItemForm()">
        New Item
      </button>
      <button type="button" class="btn btn-danger btn-lg" onclick="showNewLinkForm()">
        Share
      </button>
      <a href="/notes">
      <button type="button" class="btn btn-danger btn-lg" style="float: right;">
        Notes
      </button>
      </a>
    </ul>

    <!-- entry part -->
    <div id="newItemDisplay" style="display: none">
      <form id="newItemForm" action="">
        Item Name:<br>
        <input type="text" value="" id="targetInput">
        <br>
        <br>
        <input type="submit" value="Submit" class="btn btn-danger">
      </form> 
    </div>

    <!-- share button link -->
    <div id="newLinkDisplay" style="display: none">
        <form name="newLinkForm" id="newLinkForm" action="">
        Link of this form:<br>
        <input type="text" name="link" value="">
        <br>
        <br>
        <input type="submit" value="Hide" class="btn btn-danger">
      </form> 
    </div>

    <!-- list items -->
    <hr id="listContainer">
      <!-- example item 1-->
      <div id="itemHeader">
        <div class="item">
        <!-- <h4 style="float: left;"></h4> -->
        <button id="remove" type="button" class="btn btn-danger" 
        style="float: right;display: none" onclick="hideRealContent()">
        Remove
        </button>
        </div>
      </div>

    </hr>

    <!-- Footer part -->
    <footer style="
            position:absolute;
            bottom:0%;
            width:100%;">
      <button type="button" class="btn btn-secondary" onclick="toggleSuggestedItems()">
        Suggested Items
      </button>


      <hr id="suggestedContainer" style="display: none">
      <div class="suggestedItems" style="display: none">
         
         <h4 style="float: left"> Milk </h4>

         <button id="remove" type="button" class="btn btn-danger" 
        style="float: right;display: none" onclick="hideRealContent()">
        Remove
        </button>
        
      </div>
    </hr>

    </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript">
      
      function hideRealContent() {
        $('#realContent').hide();
      }

      function toggleNewItemForm() {
        if($("#newItemDisplay").is(":visible")){$("#newItemDisplay").hide();}
        else{$('#newItemDisplay').show();}
        
      }

      function showNewLinkForm() {
        var currentURL = document.URL;
        $('#newLinkDisplay').show();
        document.newLinkForm.link.value = currentURL;
        //document.getElementById("demo").innerHTML = currentURL;
      }
      
      function toggleEdit(){
        if($("#remove").is(":visible")){$("#remove").hide();}
        else{$("#remove").show();}
      }

      function toggleSuggestedItems(){
        alert("The milk has gone bad! please buy a new one before due day!");
        if($("#suggestedContainer").is(":visible"))
          {
            $("#suggestedContainer").hide();
            $(".suggestedItems").hide();
          }
        else
          {
            $("#suggestedContainer").show();
            $(".suggestedItems").show();
          }

      }

      $( document ).ready(function() {
        // alert("page is ready");
        localStorage.clear();
        var pendingRender = localStorage.getItem("itemDB");
        var dataPending = new Array();
        $("#newItemForm").submit(function(e) {
          e.preventDefault();
          alert("The item has been added");
          // $("#newItemDisplay").hide();
          // $("#realContent").show();
          if (dataPending = []){
            dataPending = $("#targetInput").val().trim();
            localStorage.setItem("itemDB", dataPending);
          }
          else {
            dataPending=localStorage.getItem("itemDB");
            dataPending.push($("#targetInput").val().trim());
            localStorage.setItem("itemDB", [JSON.stringify(dataPending)]);

          }
          pendingRender=localStorage.getItem("itemDB");
          $("#itemHeader").append("<h4>" + pendingRender + "</h4>");

          

        });

        $("#newLinkForm").submit(function(e) {
          e.preventDefault();
          alert("The Link is Hidden");
          $("#newLinkDisplay").hide();
        });
      });


    </script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
