#listTile{
    flex:1;
	padding: 1em;
    clear: left;
    text-align: center;
    background-image: url("/images/backgroundBlack.jpg");
    background-color: #cccccc;
}

#listName{
	font-weight: bold;
	margin-left: auto;
    margin-right: auto;
    color: white;
}

footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

ul {
    padding: 1em;
    clear: left;
    text-align: center;
}

#item{
    padding: 1em;
    clear: left;
    text-align: center;
}